---
import AccordionArrowSVG from "@/helpers/svg/AccordionArrowSVG";
import ArrowSVG from "@/helpers/svg/ArrowSVG";
---

<section class="section pb-0 mx-4">
  <div class="bg-shape-top-right py-20 lg:py-24 2xl:py-32">
    <div class="container z-10 relative">
      <div class="row justify-center">
        <div class="md:col-10 pb-14">
          <h2 class="h1 text-center pb-4" data-aos="fade-up">
            Frequently Asked <strong>Questions</strong>
          </h2>
          <p
            class="max-w-3xl mx-auto text-center"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            Our AI writing service is designed to provide assistance in
            generating high-quality written content. It can help with tasks such
            as writing articles, blog posts, marketing copy, and more.
          </p>
        </div>
      </div>

      <!-- @@include('components/accordion.html') -->
      <div class="md:columns-2 gap-x-6" data-aos="fade-up" data-aos-delay="200">
        <div class="break-inside-avoid">
          <div class="accordion shadow">
            <button class="accordion-header" data-accordion>
              Will I be billed for AWS Savings Plans and Reserved instances that
              I already have in place?
              <AccordionArrowSVG />
            </button>
            <div class="accordion-content">
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
                eiusmod tempor incidunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
        <div class="break-inside-avoid">
          <div class="accordion shadow">
            <button class="accordion-header" data-accordion>
              Will buying Reserved Instances through Antimetal change my AWS
              Bill?
              <AccordionArrowSVG />
            </button>
            <div class="accordion-content">
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
                eiusmod tempor incidunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
        <div class="break-inside-avoid">
          <div class="accordion shadow">
            <button class="accordion-header" data-accordion>
              Does Antimetal support SAML, MFA, and SSO?
              <AccordionArrowSVG />
            </button>
            <div class="accordion-content">
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
                eiusmod tempor incidunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
        <div class="break-inside-avoid">
          <div class="accordion shadow">
            <button class="accordion-header" data-accordion>
              Will buying Reserved Instances through Antimetal change my AWS
              Bill?
              <AccordionArrowSVG />
            </button>
            <div class="accordion-content">
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
                eiusmod tempor incidunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
        <div class="break-inside-avoid">
          <div class="accordion shadow">
            <button class="accordion-header" data-accordion>
              Does Antimetal have any security certifications like SOC2?
              <AccordionArrowSVG />
            </button>
            <div class="accordion-content">
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
                eiusmod tempor incidunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
        <div class="break-inside-avoid">
          <div class="accordion shadow">
            <button class="accordion-header" data-accordion>
              Is Autopilot the right fit for me?
              <AccordionArrowSVG />
            </button>
            <div class="accordion-content">
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
                eiusmod tempor incidunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
        <div class="break-inside-avoid">
          <div class="accordion shadow">
            <button class="accordion-header" data-accordion>
              Does Antimetal have a bug bounty program?
              <AccordionArrowSVG />
            </button>
            <div class="accordion-content">
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
                eiusmod tempor incidunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
        <div class="break-inside-avoid">
          <div class="accordion shadow">
            <button class="accordion-header" data-accordion>
              Will Antimetal cause server downtime or interrupt developer
              workflows?
              <AccordionArrowSVG />
            </button>
            <div class="accordion-content">
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
                eiusmod tempor incidunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block w-fit mx-auto mt-14">
        <a class="btn btn-primary" href="/faq.html">
          See All faq <ArrowSVG />
        </a>
      </div>
    </div>
  </div>
</section>
